.pdf-btn, .pdf-btn:visited, #contact .form button[type="submit"]{
    background-color:rgba(246, 81, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
  }
  .pdf-btn:hover, #contact .form button[type="submit"]:hover{
    background: rgba(246, 82, 0, 0.555);
  }
  .pdf, .msg{
    text-align: center;
    height: 40px;
  }

  /*
  Clase para volver una imagen de fondo tipo parallax
  */
  .parallax {
    background-blend-mode: screen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    opacity: 0.5;
  }

  /*
  Seccion parecida a clientes pero para poner las fotos
  */
  .carousel {
    padding: 30px 0;
  }
  
  .carousel img {
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px;
    border-radius: 5%
  }


  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #ddd;
  }
  
  
  .carousel img:hover {
    width: 150%;
    opacity: 1.0;
    margin-left:-80px;
  }
  #salt{
    margin-left:40px;
   margin-top:-40px
  }
  
  .carousel .owl-nav,
  .carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .carousel  .owl-dot.active {
    background-color: #3899EC;
  }